emacs/auto-save-list
emacs/bookmarks
emacs/.cache
emacs/custom.el
emacs/eln-cache
emacs/org-persist
emacs/org-roam.db
emacs/.org-id-locations
emacs/projectile.cache
emacs/projectile-bookmarks.eld
emacs/smex-items
emacs/straight
emacs/tramp
emacs/transient
emacs/tree-sitter
fish/completions
fish/fish_variables
jgit
vim/autoload
vim/plugged
