emacs/auto-save-list
emacs/bookmarks
emacs/.cache
emacs/custom.el
emacs/eln-cache
emacs/org-persist
emacs/org-roam.db
emacs/.org-id-locations
emacs/projectile.cache
emacs/projectile-bookmarks.eld
emacs/smex-items
emacs/straight
emacs/tramp
emacs/transient
emacs/tree-sitter
fish/completions
fish/fish_variables
google-chrome
jgit
vim/autoload
vim/plugged

# This is strange, but by default, ignore any directory beginning with a capital letter.
# GUI apps tend to store their local state in directories like this, and we don't want
# to sync that state. Or if we do, we add a specific exception.
1*
A*
B*
C*
D*
E*
F*
G*
H*
I*
J*
K*
L*
M*
N*
O*
P*
Q*
R*
S*
T*
U*
V*
W*
X*
Y*
Z*